{% extends "shared/base.html" %}

{% block title %}{{ config.extra.series[term.name].title }} &middot; {{ taxonomy.name | capitalize }} &middot; {% endblock title %}

{% block head %}
<link href="{{ config.base_url | safe }}/{{ taxonomy.name }}/{{ term.name }}/atom.xml" rel="alternate" type="application/atom+xml" title="{{ term.name }} &middot; {{ taxonomy.name | capitalize }} &middot; {{ config.title }}" />
{% endblock %}

{% block content %}
{% set series = config.extra.series[term.name] %}
<main id="content">
  <span class="series-status {{ series.status }}">{{ series.status }}</span>
  <h2 class="post-title">{{ series.title }}</h2>
  <p class="series-description">{{ series.description }}</p>
  {% set pages = term.pages %}
  {% if series.chronological != false %}
    {% set_global pages = pages | reverse %}
  {% endif %}
  {% for page in pages %}
    {% include "shared/post-item.html" %}
  {% endfor %}
</main>
{% endblock content %}
