:root {
  color-scheme: light dark;

  --color-accent: #5cc265;

  --color-text: #444;
  --color-text-muted: #888;

  --color-bg: #fff;
  --color-border: #eee;

  --color-badge-bg: #ccc;
  --color-badge-text: #fff;

  --color-series-text: #fff;
  --color-series-ongoing: #888;
  --color-series-completed: #444;

  --font-body: Inter, sans-serif;
  --font-title: Bree Serif, serif;
  --font-mono: Jetbrains Mono, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: #4fe08a;

    --color-text: #eee;
    --color-text-muted: #aaa;

    --color-bg: #111;
    --color-border: #333;

    --color-badge-bg: #333;
    --color-badge-text: #999;

    --color-series-text: #222;
    --color-series-ongoing: #999;
    --color-series-completed: #eee;
  }
}

pre {
  margin-bottom: 0.75em;
}

code {
  font-family: var(--font-mono);
  font-size: 1em;
}

blockquote {
  font-size: 1.1em;
}

em {
  border-bottom-style: inset;
}

.permalink {
  text-decoration: none !important;
}

.serieslist {
  margin-left: 0;
  margin-top: 2em;
}

.serieslist li {
  list-style-type: none;
  margin-bottom: 2em;
}

.series-status {
  background-color: var(--color-badge-bg);
  color: var(--color-series-text);
  display: inline-block;
  line-height: 1.5em;
  padding: 0.3em 0.6em 0.3em 0.6em;
  vertical-align: 20%;
  font-size: 0.5em;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}

.series-status.ongoing {
  background-color: var(--color-series-ongoing);
}

.series-status.completed {
  background-color: var(--color-series-completed);
}

.series-description {
  margin-top: 1em;
  margin-bottom: 2em;
}

.series-stamp {
  font-size: 0.8em;
  color: var(--color-text-muted);
  margin-top: 1em;
}

.footnote-definition {
  font-size: 0.9em;
  margin-top: 1.5em;
}

.footnote-definition-label {
  margin-right: 0.5em;
  color: var(--color-accent);
  vertical-align: baseline;
  font-size: inherit;
  font-weight: 600;
}

.footnote-definition p {
  display: inline;
  margin: 0;
}

.footnote-reference {
  font-size: 0.75em;
  vertical-align: super;
  color: var(--color-accent);
}
