<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="{{ .Site.LanguageCode }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}

    {{ if .IsPage }}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": "{{ .Title }}",
      "author": {
        "@type": "Person",
        "name": ""
      },
      "datePublished": "{{ .Date.Format "2006-01-02" }}",
      "description": "{{ .Description }}",
      "wordCount": {{ .WordCount }}
    }
    </script>
    {{ end }}

    <title>{{ if not .IsHome }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}</title>

    <meta name="description" content="{{ .Site.Params.description }}" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{ if not .IsHome }}
    <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ if .IsNode }}
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .Permalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ if not .IsHome }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}" />
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}" />

    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/crisp.css">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/rrssb.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700%7CBree+Serif">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/gist.min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/rrssb.min.js"></script>
  </head>
  <body>
    <header id="header">
      <a id="logo" href="{{ .Site.BaseURL }}"><img src="https://www.gravatar.com/avatar/39863b6141d1be3ec211dca4b061cd5e.png?s=400" alt="{{ .Site.Title }}" /></a>
      <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      <p>{{ .Description }}</p>

      {{ partial "follow.html" . }}
      {{ partial "navigation.html" . }}
    </header>
