{% extends "shared/base.html" %}

{% block title %}{{ section.title }} &middot; {% endblock title %}

{% block content %}
<main id="content">
  {% for page in paginator.pages %}
    <section class="{{ page.ancestors | join(sep="-") | safe }}">
      <h3 class="post-title">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        <span class="separator"> &middot; </span>
        {% include "shared/date.html" %}
        {% include "shared/taglist.html" %}
      </h3>
    </section>
  {% endfor %}
  {% include "shared/pagination.html" %}
</main>
{% endblock content %}
